<div class="card">
  <div class="card-header">
    FAQ
  </div>
  <div class="card-body">
    <h5>What is a webhook?</h5>
    <p>
      A webhook is a simple and safe way to let an application send messages to your
      Discord server. You set the channel where you want it to post, and you can
      delete the webhook at any time.
    </p>

    <h5>Can I see an example post?</h5>
    <p>
      <a href="/images/example.png" class="link-unstyled">You sure can.</a>
    </p>

    <h5>How do I change my subscription?</h5>
    <p>
      To change your subscription, you will need to unsubscribe and then subscribe again
      with your new preferences.
    </p>

    <h5>How do I unsubscribe?</h5>
    <p>
      Select Edit Channel &gt; Webhooks and click the <span class="text-danger">&#x2715;</span>
    </p>

    <h5 class="text-danger">Disclaimer</h5>
    <p>
		This service is provided as is and can be shut down temporarily or permanently without notice. Please see <a href="https://stderr.cc">stderr.cc</a> for recent upupdates. Feel free to host you own instance, the original source is available on <a href="https://github.com/mattantonelli/lodestone">github</a>.
    </p>
  </div>
</div>
